* {
  font-family: 'Roboto Slab', serif;
  /* outline: 1px solid green; */
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: Arial, Helvetica,sans-serif;
  font-weight: 100;
}

.button5{
    height: 60px;
    width: 60px;
    float: right;
    bottom: 10%;
    position: relative;
    right: 5%;
}

.card-modal{
    height: 400px;
    width: 400px;
}

.text{
    width: 50%;
}


.button5{
    z-index: 100;
    position: fixed
    ;
}